body{
    background-color:rgb(183, 211, 242);
}
ul{ 
    padding: 10px;
}
li{
    display: inline;
    color:rgb(153, 57, 85);
}
h1{
    color:rgb(153, 57, 85);
    font-family:;
}
h2{
    font-family:fantasy;
    text-align:center;  
    font-size:25px;
}
h3{
    font-family:fantasy;
}

header{
text-align:center;
background: url(https://lh3.google.com/u/0/d/13Tl0h9Br0MItJvK_LivJVMx7RDzf5DBm=w949-h864-iv1);
background-size: cover;
padding:20px 0px 0px 0px;

}
img{
    border-radius:20px;
}



